@use "../base/variables.scss" as *;

.c-box-studio-accent {
  overflow: hidden;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media only screen and (max-width: 1100px) {
      justify-content: flex-start;
    }

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 9rem;
    width: calc(100% - 380px);
    line-height: 1.2;

    @media only screen and (max-width: 1100px) {
      font-size: 5rem;
      line-height: 1.2;
      min-width: 30rem;
    }

    @media only screen and (max-width: 750px) {
      font-size: 3rem;
      min-width: 20rem;
      margin-bottom: 3rem;
    }
  }

  &__text {
    font-size: 2.3rem;
    position: relative;
    line-height: 1.5;
    width: 50rem;
    margin-left: 8rem;
    padding-top: 3rem;

    @media only screen and (max-width: 1100px) {
      font-size: 1.8rem;
      line-height: 1.2;
    }

    @media only screen and (max-width: 750px) {
      font-size: 1.6rem;
      max-width: 100%;
      margin-left: 0;
    }

    &::after {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 0.1rem;
      background-color: rgba(#fff, 0.4);
    }
  }

  &__fade {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: $font-base-color;
    }
  }
}

.c-box-studio-accent-sec {
  overflow: hidden;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media only screen and (max-width: 1100px) {
      justify-content: flex-start;
    }

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 9rem;
    width: calc(100% - 380px);
    line-height: 1.2;

    @media only screen and (max-width: 1100px) {
      font-size: 5rem;
      line-height: 1.2;
      min-width: 30rem;
    }

    @media only screen and (max-width: 750px) {
      font-size: 3rem;
      min-width: 20rem;
      margin-bottom: 3rem;
    }
  }

  &__text {
    font-size: 2.3rem;
    position: relative;
    line-height: 1.5;
    width: 50rem;
    margin-left: 8rem;
    padding-top: 3rem;

    @media only screen and (max-width: 1100px) {
      font-size: 1.8rem;
      line-height: 1.2;
    }

    @media only screen and (max-width: 750px) {
      font-size: 1.6rem;
      max-width: 100%;
      margin-left: 0;
    }

    &::after {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 0.1rem;
      background-color: rgba(#fff, 0.4);
    }
  }

  &__fade {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: $font-base-color;
    }
  }
}
