.c-box-studio-staff {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__heading {
    white-space: nowrap;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 70rem;
    padding-left: 6rem;

    @media only screen and (max-width: 750px) {
      padding-left: 0;
      margin-top: 3rem;
    }
  }

  &__item {
    width: calc(50% - 16px);
    height: 100%;

    margin-bottom: 4rem;

    @media only screen and (max-width: 460px) {
      width: 100%;
    }

    &:nth-child(even) {
      margin-left: 3.2rem;

      @media only screen and (max-width: 460px) {
        margin-left: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    overflow: hidden;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1200px) {
      height: 40rem;
    }

    @media only screen and (max-width: 880px) {
      height: 30rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 3rem 0;
  }

  &__name {
    font-size: 2.4rem;
    line-height: 2;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
