.c-heading {
  &.is-xlg {
    span {
      font-size: 7.2rem;
      line-height: 1.4;
      letter-spacing: 0.1em;
      display: block;
    }

    small {
      font-size: 2rem;
      margin-top: 2rem;
      display: block;
      font-weight: normal;
    }
  }

  &.is-lg {
    span {
      font-size: 4.2rem;
      line-height: 1.5;
      letter-spacing: 0.1em;
      display: block;
      padding-bottom: 3rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 10rem;
        background: rgba($color: #111, $alpha: 0.6);
      }
    }

    small {
      font-size: 2rem;
      display: block;
    }
  }

  &.is-right {
    margin-left: auto;
    width: calc(168px + ((100% - 264px) / 12 * 8));
  }
}
