@use "../base/variables.scss" as *;

header {
  top: 0;
  left: 0;
  height: 100%;
  z-index: 88;
  mix-blend-mode: difference;
  position: fixed;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li {
    display: block;
    font-size: 2rem;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: 8rem;
  }

  a {
    color: $font-base-color;
    mix-blend-mode: difference;
  }
}
