.c-magic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &.is-bg {
    background: cornsilk;
    margin-bottom: 120rem;
  }

  &.is-bg2 {
    background: darkcyan;
  }
}
