.margin {
  margin: 30rem 0;
}

.c-scrollMagic-top {
  font-size: 3rem;
  display: flex;
  height: 100%;

  &__bar {
    width: 30rem;
    height: 16.5rem;
  }

  &__imgs {
    width: 50%;
    margin-left: auto;
  }

  &__img {
    img {
      width: 100%;
    }
  }
}
