.l-main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 6rem;
  background: #fff;
  z-index: 999;
  &__logo {
    width: 8rem;

    img {
      width: 100%;
    }
  }

  &__container {
    display: inline-block;
    cursor: pointer;
    display: none;

    @media only screen and (max-width: 1000px) {
      display: block;
    }
  }

  &__bar1,
  &__bar2,
  &__bar3 {
    width: 3rem;
    height: 0.3rem;
    background-color: #111;
    margin: 6px 0;
    transition: all ease 0.4s;
  }

  .change &__bar1 {
    -webkit-transform: translateY(-9px) rotate(45deg);
    transform: translateY(9px) rotate(-45deg);
  }

  .change &__bar2 {
    opacity: 0;
  }

  .change &__bar3 {
    -webkit-transform: translateY(-9px) rotate(45deg);
    transform: translateY(-9px) rotate(45deg);
  }

  &.is-white {
    background: #111;
    .l-main-header {
      &__bar1,
      &__bar2,
      &__bar3 {
        background-color: #fff;
      }
    }
  }
}
